.capitalize2 {
  text-transform: capitalize;
}

h2{
	text-align: center;
}

body {
	margin: 20px;
	background:lightgray;
}

input[type="text"] {
	height: 37px;
	width: 300px;
	border-radius: 2px;
	text-align: center;
}